/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


.hide-scrollbar {
  /* Ocultar scrollbar en navegadores WebKit */
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}